<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="PRATHAM SHAH" />
    <meta name="keywords" content="DAFWB9o252s,BAFWB5g8L2o" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,200&family=Open+Sans:wdth@75&display=swap"
      rel="stylesheet"
    />
    <title>certificate</title>
    <style>
      .container {
        font-family: "Open Sans", sans-serif;
        width: 80vw;
        margin: 0 auto;
      }
      #cer {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .format{
        position: absolute;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        margin: 0;
      }
      #name {
        top: 59%;
        left: 33%;
        width: 425px;
       
      }
      #event{
        top: 70%;
        left: 40%;/*38*/
        width: 270px;
      }
      #date{
        top:87.5%;
        left:47%;
        width: 30px;
        font-size: x-large;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="cert.jpg" id="cer" />
      <div id="name" class="format"><%= username %></div>
      <div id="event" class="format"><%= ename %></div>
      <div class="format" id="date"><%= day %></div>
    </div>
  </body>
</html>
